
// Experience Theme
$positions-light: #FFAB85;
$positions-medium: #FF6824;
$positions-dark: #FF4F00;
$positions-saving: rgba(109, 62, 138, 0.8);
$positions-error: rgba(195, 98, 120, 0.8);

.positions.container {
    // Main background
    background-color: $positions-medium;

    // Actionbar background
    .actionBar { background-color: $positions-dark; }

    // Overlay colors (semi-transparent)
    .saving { background-color: $positions-saving; }
    .error { background-color: $positions-error; }

    // Disabled form field background
    input, textarea, select {
        &.disabled { background-color: $positions-light; }
    }
    
    // Overlay text is white
    .overlay * {
        color: white;
    }
}

// Create Button
.positions.createButton {
    width: 100%;
    background-color: $positions-dark;
}
