
// General Entity Styles

.entity.container {
    z-index: 1;
    margin-bottom: 10px;

    .actionBar {
        height: 30px;
        flex-flow: row-reverse;
        button {
            background: none;
            border: none;
            padding: 0 5px;
        }
    }

    .overlay {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        border-radius: 4px;
        height: 100%;
        width: 100%;
        margin-left: -15px;
    }
    
    form {
        textarea {
            resize: none;
            overflow-y: hidden;
        }
        padding: 10px;
        .form-control {
            border: none;
        } 
        textarea {
            width: 100%;
        }
    }
}

