
// General Entity Styles

.entity {
    z-index: 1;
    margin-bottom: 35px;
    border-bottom: 5px solid white;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.25);
    color: white;

    .actionBar {
        height: 40px;
        background-color: white;
        justify-content: space-between;
        margin: 0;
        padding-left: 5px;
        padding-right: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        button {
            background: none;
            border: none;
            padding: 0 5px;
            height:100%;
            width: 34px;
            svg {
                color: darkslategrey;
                height: 100%;
                width: 100%;
            }
        }
    }

    .overlay {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        border-radius: 4px;
        height: 100%;
        width: 100%;
        margin-left: -15px;
    }
    
    form {
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        .formLabel {
            text-align: center;
        }
        label {
            padding-top: 7px;
            white-space: nowrap;
        }
        label, input {
            font-weight: bold;
        }
        input {
            color: rgb(46, 46, 46);
            background-color: white;
        }
        textarea {
            resize: none;
            overflow-y: hidden;
        }
        .form-control {
            border: none;
        } 
        textarea {
            width: 100%;
        }
    }
}

.createButton {
    width: 100%;
    background-color: grey;
    color: white;
}
