
// Project Theme
$project-light: #BA9FCB;
$project-medium: #845A9E;
$project-dark: #6D3E8A;
$project-saving: rgba(109, 62, 138, 0.8);
$project-error: #C36278;

.project.container {
    z-index: 1;
    .entityOverlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        &.saving {
            background-color: $project-saving;
        }
        &.error {
            background-color: $project-error;
        }
        border-radius: 4px;
        height: 100%;
        width: 100%;
        margin-left: -15px;
        * {
            color: white;
        }
    }
    .entityActionBar {
        background-color: $project-dark;
    }
    margin-bottom: 10px;
    background-color: $project-medium;
    form {
        textarea {
            resize: none;
            overflow-y: hidden;
        }
        padding: 10px;
        .form-control {
            border: none;
            &.disabled {
                background-color: $project-light;
            }
        } 
        textarea {
            width: 100%;
        }
    }
}

