#profile-dropdown {
  &:active, &:hover {
    outline: none;
    color: #c5c5c5;
    color: transparent;
    background-color: transparent;
  }
  float: right;
  .toggle {
    outline: none;
    color: white;
    background-color: transparent;
    font-size: 36pt;
  }
  .toggle:hover {
    outline: none;
    color: #c5c5c5;
    background-color: transparent;
    border-color: transparent;
  }
  .toggle:active {
    outline: none;
    color: #c5c5c5;
    color: transparent;
    background-color: transparent;
  }
}
