.ProfileButtonDropdown {
  .toggle {
    color: #393939;
    background-color: transparent;
    border-color: transparent;
    font-size: 36pt;
    border-radius: 50%;
  }
  .toggle:hover {
    color: black;
    background-color: transparent;
    border-color: transparent;
  }
  .toggle:active {
    color: transparent;
    background-color: transparent;
  }
}

.ProfileButtonDropdown:active {
  float: right;
  background-color: transparent;
  border-color: transparent;
}
