.callbackPageDiv {
  font-size: 32pt;
  padding-top: 25%;
  padding-left: 35%;
  background-color: whitesmoke;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}
