.profileButton {
  position: absolute;
  right: 0;
  top: 0;
}

.buttonCluster {
  position: absolute;
  top: 30%;
  left: 30%;
  height: 200px;
  width: 700px;
}

.title {
  position: absolute;
  left: 1%;
  top: 1%;
  font-size: 36pt;
  font-weight: 800;
  font-style: italic;
  color: white;
}

body {
  background-image: url("../../Images/homescreen-background.png");
}
