// Styling for the block of both rows of buttons
.ButtonCluster {
  position: relative;
  margin: auto;
  align-content: center;
  align-items: center;
  align-self: center;
  .FirstRow {
    padding-bottom: 100px;
    width: 1125px;
    .buttoncombo {
      button {
        height: 150px;
        width: 150px;
        color: white;
        background-color: #393939;
      }

      button:hover {
        background-color: black;
      }

      button {
        border-radius: 12px;
      }
    }
  }
  .SecondRow {
    width: 1000px;
    .buttoncombo {
      button {
        height: 150px;
        width: 150px;
        color: white;
        background-color: #393939;
      }

      button:hover {
        background-color: black;
      }

      button {
        border-radius: 12px;
      }
    }
  }
}

// Styling for the text label inside of a button
.label {
  color: white;
  align-content: center;
  font-family: verdana;
  font-size: 11pt;
  font-weight: 600;
}
