.unfoundPageDiv {
  .error-icon {
    font-size: 96pt;
    color: silver;
    padding-left: 12%;
  }

  .fourofour-text {
    font-size: 52pt;
    color: silver;
    font-weight: 700;
  }

  .notfound-text {
    font-size: 32pt;
    color: silver;
    font-weight: 600;
    padding-left: -10%;
  }

  align-items: center;
  padding-top: 17%;
  padding-left: 18%;
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  flex: 100%;
}
