
#UNFOUND_PAGE {
  color: silver;
  background-color: whitesmoke;
  text-align: center;
  font-size: 24pt;
  svg {
    font-size: 50px;
  }
  h1 {
    font-size: 32pt;
    font-weight: 500;
    display: inline;
  }
}
