
// Certifications Theme
$certifications-light: #BA9FCB;
$certifications-medium: #845A9E;
$certifications-dark: #6D3E8A;
$certifications-saving: rgba(109, 62, 138, 0.8);
$certifications-error: rgba(195, 98, 120, 0.8);

.certifications.container {
    // Main background
    background-color: $certifications-medium;

    // Actionbar background
    .actionBar { background-color: $certifications-dark; }

    // Overlay colors (semi-transparent)
    .saving { background-color: $certifications-saving; }
    .error { background-color: $certifications-error; }

    // Disabled form field background
    input, textarea, select {
        &.disabled { background-color: $certifications-light; }
    }
    
    // Overlay text is white
    .overlay * {
        color: white;
    }
}

// Create Button
.certifications.createButton {
    width: 100%;
    background-color: $certifications-dark;
}
