#DASHBOARD_PAGE {
  height: 100vh;
  main {
    position: absolute;
    top: 0;
    padding: 100px;
    padding-top: 200px;
    display: grid;
    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      svg {
        width: 8rem;
        height: 8rem;
      }
      span.label {
        font-size: 1.8rem;
        color: white;
      }
    }
  }
  h1 {
    color: white;
  }
}
