#DASHBOARD_PAGE {
  main {
    position: absolute;
    top: 0;
    z-index: -1;
    background-image: url("../../images/homescreen-background.jpg");
    background-size: cover;
    background-position: center;
  }
  h1 {
    color: white;
  }
}
